<h1> Novo comentário no pedido: <%= order.number %></h1>

<%= form_for(@comment, :url => admin_fulfillment_order_comments_path(order, @comment)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Voltar', admin_fulfillment_order_comments_path(order), :class => 'button' %>
