<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá <%= @user.name %></h1>
    <p>
      Um pedido para resetar a sua senha foi feito. Siga as intruções a seguir para resetar a sua senha.
    </p>
    <p>
      Para resetar a sua senha, clique no link a seguir: <%= @url %>.
    </p>
    <p>
      Se o link não funcionar, tente copia-lo e cola-lo no seu navegador favorito. Caso continue tendo problemas, não exite em nos contactar.<br/><br/>
      Seu usuário é o <%= @user.email %>.
    </p>
    <p>Obrigado e tenha um belo dia!</p>
  </body>
</html>