<fieldset>
  <label>Nome</label>
  <%= form.text_field :name %>

  <label>Ativo</label>
  <%= form.check_box :active %>
</fieldset>

<fieldset>
  <legend>Propriedades</legend>
  <div id="prototype_properties">
    <%= render :partial => "property_form", :locals => { :form => form } %>
  </div>
</fieldset>