<h3>Editar área de envio</h3>

<%= form_for(@shipping_method, :url => admin_config_shipping_method_path(@shipping_method)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to "Voltar", admin_config_shipping_methods_path, :class => 'button' %>
