<h3>Nova conta</h3>

<%= form_for( @account, :url => admin_config_accounts_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit "Criar", :class => "button" %>
<% end %>

<%= link_to 'Voltar', admin_config_accounts_path, :class => 'button' %>