<h1>Editar endereço</h1>

<%= form_for(@form_address, :url => shopping_address_path(@form_address)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>


<%= link_to 'Voltar', shopping_addresses_path %>