<h3>Editar área de envio: <%= @shipping_zone.name %></h3>

<%= form_for(@shipping_zone, :url => admin_config_shipping_zone_path(@shipping_zone)) do |f| %>
  <%= render :partial =>  'form', :locals => {:f => f} %>
<% end %>

<%= link_to "Voltar", admin_config_shipping_zones_path, :class => 'button' %>