<h1>Nova área de envio</h1>


<%= form_for(@shipping_zone, :url => admin_config_shipping_zones_path()) do |f| %>
  <%= render :partial =>  'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Voltar', admin_config_shipping_zones_path, :class => 'button' %>
